.containerRem {
    font-family: sans-serif;
     height: 330px;
     width: 250px;
     background-color: #2141e4;
     border-radius: 20px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
    margin: auto;
    text-align: center;
     
   }
   .RemFont {
     color: white;
     font-size: large;
     font-weight: 700;
   }
   .img {
     margin-top: 10px;
     border: 1px solid blue;
     height: 100px;
     width: 100px;
     justify-content: center;
     align-items: center;
     background-color: white;
     border-radius: 20px;
   }
   .Rembtn {
     background-color: white;
     margin: auto;
     padding: 25px 0px;
     width: 80%;
     color: black;
   }